{{#extend "layout"}}

{{#content "main"}}
<p>
  <strong>Hello, {{username}}</strong>
</p>

<p>
  {{message}}

  <a href="{{uiUrl}}">{{uiUrl}}</a>
</p>
<p>
  <strong>Best regards</strong><br>
  Company Name
</p>
{{/content}}

{{/extend}}